body {
  margin: 0;
  font-family: var(--font-inter);
  letter-spacing: -0.031em;
  color: var(--color-ink);
  background: var(--color-paper);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  scroll-behavior: smooth;
}

button,
a {
  font-family: inherit;
}
